@import "tailwindcss";

html{
  font-size: 75%;
}

body {
  background: #F6F9F7;
  color: black;
}
.font-space{
  font-family: "Space Grotesk", sans-serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}