@import "tailwindcss";
@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

html{
  font-size: 75%;
}

body {
  background: #F6F9F7;
  color: black;
}
.font-space{
  font-family: "Space Grotesk", sans-serif;
}
.font-inter{
  font-family: "Inter", sans-serif;
}